name: Android CI (Debug Build)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'
        cache: gradle
    - name: Give build.gradle permissions
      run: chmod +x ./build.gradle
    - name: Build debug APK
      run: ./build.gradle :app_sublauncher:assembleDebug
    - name: Upload APK Artifact
      uses: actions/upload-artifact@v4
      with:
        name: sublauncher-debug-apk
        path: app_sublauncher/build/outputs/apk/debug/*.apk
        
